

body {background-color: #4d4d4d;}

h1 {color: green;}



.square
{
	position: relative;
	background: #909090;
	min-width: 50px;
	border-radius:10px;
	padding: 5px;
	box-shadow: 10px 10px 5px #0d0d0d;
}
.conteiner
{
	margin-top: 5px;
	display: flex;
	justify-content: center;
	position: relative;
}
.conteiner > div {margin:15px;}

.test
{
	max-width: 100%;
	height: auto;
}

.gbox
{
	position: absolute;
	z-index: 1;
	background-color: #9fff80;
	box-shadow: 10px 10px 5px #0d0d0d;
	border-radius:10px;
	width: 450px;
	height: 150px;
	left: 500px;
	top: 610px;
}

img.border
{
	border: 5px red;
	border-radius: 5px;
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
    margin:auto;
    margin-top: 1px;
}
td {
    padding:0px;
}
td img {
    display:block;
    width: 30px;
}