

.alkalin {background-color: #FF9933;}
.alkalin-earth {background-color: #FFFF66;}
.trans-metal {background-color: #CC8800}
.poor-metal {background-color: #FFE6FF;}
.not-metal {background-color: #33FF00;}
.nobil-gas {background-color: #0066FF}
.lanthanide {background-color: #FF3300}
.actinide {background-color: #E600AC}
td.box
{
	position: relative;
	width: 100%;
}
div.num
{
	font-size: 1vw;
	position: absolute;
	top: 0;
	left: 0;
}
h2.name
{
	position: absolute;
	width: 100%;
	text-align: center;
}
div.atm
{
	position: absolute;
	font-size: 1vw;
	right: 0;
	bottom: 0;
}
tr.blank_row
{
	background-color: #00CCCC;
}
div.naame
{
	position: absolute;
	font-size: 1vw;
	top: 37%;
	right: 39%;
}
table
{ 
	table-layout: fixed;
	position: relative;
	background-color: #00CCCC;
	margin: auto; 
	overflow: auto;
	width: 75%;
}
td
{

}

.box:before{
    content: "";
    display: block;
    padding-top: 100%;
}