/*
body
{
	background-image: url("http://www.itespresso.fr/wp-content/uploads/2013/05/voyages-sncf.jpg");
}*/

.dropdown
{
	position: relative;
	display: inline-block;
}

.botton
{
	background-color: #1a53ff;
	color:white;
	font-size: 40px;
	padding: 16px;
}

.dropdown-content
{ 
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div
{
	text-decoration:none;
	display: block;
	padding: 12px 16px;
}

.dropdown:hover .botton
{
	background-color: #0039e6;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown-content div:hover
{
	background-color: #4d79ff;

}